# Tombi config for this project.
#
# This file is for checking if the JsonSchema is correct.
#

toml-version = "v1.0.0"

[files]
exclude = [
  "editors/intellij/src/test/testData/*",
]

[format]

[lint]
[lint.rules]
key-empty = "warn"

[lsp]
code-action.enabled = true

[schema]
enabled = true
catalog = {
  paths = [
    "tombi://www.schemastore.org/api/json/catalog.json",
    "https://www.schemastore.org/api/json/catalog.json",
  ],
}

[[schemas]]
path = "schemas/type-test.schema.json"
include = ["type-test.toml"]

[[schemas]]
path = "tombi://www.schemastore.org/tombi.json"
include = ["tombi.toml", "tombi/config.toml"]
