[package]
name = "tombi-test-lib"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
chrono.workspace = true
env_logger.workspace = true

tombi-uri.workspace = true
