[package]
name = "tombi-cli-options"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
clap.workspace = true
tracing-subscriber.workspace = true
