name: CI Python

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ci-python:
    runs-on: ubuntu-latest
    env:
      UV_PYTHON: python3.12

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - run: uv run --frozen ruff format --check
      - run: uv run --frozen ruff check --no-fix
      - run: uv run --frozen pytest
